<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <listener>
        <listener-class>xyz.intellij.listener.MyHttpRequestListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>xyz.intellij.javaweb.MyServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <!--精确匹配-->
        <url-pattern>/hello</url-pattern>
        <url-pattern>/hello1</url-pattern>
        <url-pattern>/h</url-pattern>
    </servlet-mapping>

    <!--post和get请求-->
    <servlet>
        <servlet-name>myhttpServlet</servlet-name>
        <servlet-class>xyz.intellij.javaweb.HttpServlet01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myhttpServlet</servlet-name>
        <url-pattern>/http1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>forward</servlet-name>
        <servlet-class>xyz.intellij.javaweb.Forward</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forward</servlet-name>
        <url-pattern>/http2</url-pattern>
    </servlet-mapping>
    <!--重定向-->
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>xyz.intellij.javaweb.Redirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <!--Cookie-->
    <servlet>
        <servlet-name>cookie01</servlet-name>
        <servlet-class>xyz.intellij.cookie.Cookie01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookie01</servlet-name>
        <url-pattern>/cookie/cookie01</url-pattern>
    </servlet-mapping>
    <!--Cookie接受-->
    <servlet>
        <servlet-name>cookieReceive</servlet-name>
        <servlet-class>xyz.intellij.cookie.CookieReceive</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieReceive</servlet-name>
        <url-pattern>/aaa</url-pattern>
    </servlet-mapping>
    <!--Session测试-->
    <servlet>
        <servlet-name>Session01</servlet-name>
        <servlet-class>xyz.intellij.session.Session01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Session01</servlet-name>
        <url-pattern>/session01</url-pattern>
    </servlet-mapping>
    <!--获取session-->
    <servlet>
        <servlet-name>Session02</servlet-name>
        <servlet-class>xyz.intellij.session.Session02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Session02</servlet-name>
        <url-pattern>/session02</url-pattern>
    </servlet-mapping>
    <!--购物车-显示商品-->
    <servlet>
        <servlet-name>bookCart</servlet-name>
        <servlet-class>xyz.intellij.session.MainBookCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookCart</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <!--购物车-添加商品-->
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>xyz.intellij.session.AddCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/book/add</url-pattern>
    </servlet-mapping>
    <!--购物车-删除商品-->
    <servlet>
        <servlet-name>showCart</servlet-name>
        <servlet-class>xyz.intellij.session.ShowCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showCart</servlet-name>
        <url-pattern>/book/showCart</url-pattern>
    </servlet-mapping>
    <!--购物车-清空购物车-->
    <servlet>
        <servlet-name>clearCart</servlet-name>
        <servlet-class>xyz.intellij.session.ClearCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clearCart</servlet-name>
        <url-pattern>/book/clear</url-pattern>
    </servlet-mapping>
</web-app>
